* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background-color: #437c90;
}

header {
  height: 100px;
}

.videoList {
  display: grid;

  padding: 20px;

  gap: 50px 20px;
  grid-template-columns: repeat(5, 1fr);
}

.videoCard {
  position: relative;

  padding: 10px;
  aspect-ratio: 3/ 4;

  transition: 500ms;

  list-style: none;
  background: #000 center/cover url("../img/movie_placeholder.png") no-repeat;
  border: 2px solid #06070e;
}

.videoCard:hover {
  transition: 300ms;
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.1);
  border: 2px solid #f7c23b;
}

.playButton {
  position: absolute;
  left: calc(50% - 15px);
  top: calc(50% - 15px);

  width: 30px;
  height: 30px;

  opacity: 0%;
  transition: 300ms;

  border: none;
  border-radius: 100%;
  background: #f7c23b center/cover url("../img/play-button.png") no-repeat;
}

.videoCard:hover .playButton {
  transition: 500ms;
  opacity: 100%;
  cursor: pointer;
}

.videoContainer {
  margin: 0 auto;
  width: 70%;
}
