* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background-color: #06070e;
}

header {
  height: 100px;
  width: 100%;
  margin-bottom: 50px;
  padding: 10px;

  background-color: white;
}
header .link {
  border-style: none;
  border-radius: 10px;
  padding: 10px;
}

.videoList {
  display: grid;

  padding: 20px;

  gap: 50px 20px;
  grid-template-columns: repeat(5, 1fr);
}

.videoCard {
  position: relative;

  padding: 10px;
  aspect-ratio: 3/ 4;

  transition: 500ms;

  list-style: none;
  background: #000 center/cover url("../img/movie_placeholder.png") no-repeat;
  border: 2px solid #06070e;
}

.videoCard:hover {
  transition: 300ms;
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.1);
  border: 2px solid #f7c23b;
}

.playButton {
  position: absolute;
  left: calc(50% - 15px);
  top: calc(50% - 15px);

  width: 30px;
  height: 30px;

  opacity: 0%;
  transition: 300ms;

  border: none;
  border-radius: 100%;
  background: #f7c23b center/cover url("../img/play-button.png") no-repeat;
}

.videoCard:hover .playButton {
  transition: 500ms;
  opacity: 100%;
  cursor: pointer;
}

.videoContainer {
  margin: 0 auto;
  width: 70%;
}

/* LOGIN PAGE */

.loginBody {
  width: 100%;
}

.loginCard {
  display: flex;
  width: 500px;
  height: 600px;
  flex-direction: column;

  margin: 0 auto;

  border-radius: 4px;
  background-color: #437c90;
}

.loginCard h2 {
  width: 100%;

  padding-top: 20px;

  color: #f8f9fa;
  text-align: center;
}

.loginForm {
  flex: 1;
  display: flex;
  row-gap: 80px;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginForm input,
.loginForm button {
  box-sizing: border-box;
  width: 70%;
  height: 50px;
}

.loginForm input {
  padding: 20px;
  border-radius: 4px;
}

.loginForm button {
  border: none;
}
